<section class="pt-20 pb-12 lg:pt-[120px] lg:pb-[90px]">
  <div class="container mx-auto">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-12 max-w-[510px] text-center lg:mb-20">
          <span class="text-primary mb-2 block text-lg font-semibold">
            Look no further than our PADI and other certified diving services!
          </span>
          <h2
            class="text-dark mb-4 text-3xl font-bold sm:text-4xl md:text-[40px]"
          >
            MAJO DIVE SERVICES
          </h2>
          <p class="text-body-color text-base">
            Whether you're seeking to swim with 
            <span>sharks</span>, 
            <span>explore wrecks</span>, or discover the hidden beauty of cenotes, we have a dive experience for every level of diver.
          </p>
        </div>
      </div>
    </div>
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="bg-primary mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">
              Dive with Sharks
          </h4>
          <p class="text-body-color">
              We offer the opportunity to dive with different species of sharks such as Bull Sharks, Hammerheads, and more.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="bg-primary mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">
            Underwater Navigation
          </h4>
          <p class="text-body-color">
            Offer PADI Underwater Navigation certification courses that enable divers to navigate underwater using a compass, natural features, and more.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="bg-primary mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">
            Dive in Wrecks
          </h4>
          <p class="text-body-color">
            Allow you to explore sunken ships, planes, and other underwater structures that have become artificial reefs and habitats for marine life.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="bg-primary mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">Dive in Cenotes</h4>
          <p class="text-body-color">
              Take your shorts and cooler on an unforgettable adventure by exploring the crystal clear waters of the Yucatan Peninsula's unique cenotes.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="bg-primary mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">Enriched Air Diving</h4>
          <p class="text-body-color">
            Offer PADI Enriched Air Diver certification courses, allowing divers to breathe gas mixes with a higher percentage of oxygen, increasing their bottom time.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="bg-primary mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">Boat Diving</h4>
          <p class="text-body-color">
            The best dive sites that are only accessible by boat, such as remote reefs, offshore islands, and more.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="bg-primary mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">Nitrox Certification</h4>
          <p class="text-body-color">
            Offer PADI Nitrox certification courses to allow divers to stay underwater longer by breathing a gas mixture with a higher percentage of oxygen.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="bg-primary mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">
            Night Diving
          </h4>
          <p class="text-body-color">
            Get on board on these unforgettable night diving experiences, allowing them to witness a whole new world of nocturnal marine life.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="bg-primary mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >

          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">Deep Diving</h4>
          <p class="text-body-color">
            Offer PADI Deep Diver certification courses that enable your skills to dive deeper into the ocean and explore sites that are not accessible to recreational divers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
