<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600 uppercase">Safety first </h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Dive with the professionals</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Majo Divers is a premier diving center that offers exciting and safe underwater adventures to all our clients. Our top priority is ensuring the safety of our clients, which is why we provide high-quality equipment and highly trained staff to ensure a safe and enjoyable diving experience.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <%= render 'home/safe_svg' %>
            </div>
            Diving Safety Training:
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">We offer diving safety training courses for beginners and experienced divers to ensure that all divers are fully trained and prepared for any situation underwater.</dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <%= render 'home/inspection_svg' %>
            </div>
            Equipment Inspection and Maintenance
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">All our diving equipment is regularly inspected and maintained by our technical team to ensure that they are in optimal working condition.</dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600 text-white">
              <%= render "home/snorkel_svg" %>
            </div>
            Experienced Diving Guides
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">We have experienced and highly trained diving guides who accompany divers on every dive to ensure a safe and enjoyable diving experience.</dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <%= render 'home/camera_svg' %>
            </div>
            Underwater Photography and Videography
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">We offer underwater photography and videography services to help our clients capture unique and exciting memories of their diving experience with us.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

